<mat-toolbar color="primary">
  <span>Eagle Point Ward</span>
</mat-toolbar>
<mat-tab-group class="tab-group">
  <mat-tab label="Light The World">
    <iframe
      src="https://calendar.google.com/calendar/embed?src=nr2o764ju95eq4ve01ohjls75c%40group.calendar.google.com&ctz=America%2FDenver"
      style="border: 0" height="95%" width="100%" frameborder="0" scrolling="no"></iframe>
  </mat-tab>
  <mat-tab label="Missionary Dinners">
    <iframe
      src="https://calendar.google.com/calendar/embed?src=feetc1qck4rckiej1p0kd7orvc%40group.calendar.google.com&ctz=America%2FDenver"
      style="border: 0; margin-top: 10px" height="95%" width="100%" frameborder="0" scrolling="no"></iframe>
  </mat-tab>
</mat-tab-group>
